<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xwt" version="0.2.145" targetFramework="net471" />
  <package id="Xwt.Gtk3" version="0.2.145" targetFramework="net471" />
  <package id="Xwt.WPF" version="0.2.145" targetFramework="net471" />
  <package id="Xwt.XamMac" version="0.2.145" targetFramework="net471" />
</packages>